<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
footer.container
  .rights
    span Powered by @
      a(href=theme.socials.weibo)=theme.author
      span  theme fetips
      iframe(
          style="margin-left: 2px; margin-bottom:-5px;",
          frameborder="0", scrolling="0", width="91px", height="20px",
          src="https://ghbtns.com/github-btn.html?user=stephenzhao&repo=hexo-theme-fetips&type=star&count=true" )
    span .
  .powered-by
    span#busuanzi_container_site_uv 累计访问
      span#busuanzi_value_site_uv
img(src=theme.logo, width="0", height="0" ,style="font-size: 0")
